@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

*, body{
    margin: 0px;
    padding: 0px;
}
.box-container{
    margin: 0 auto;
    max-width:1920px;
    width:100%;
}
.first-page{
    background: linear-gradient(to right, #4568dc, #b06ab3);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #4568dc, #b06ab3);
    color: #fff;
   box-shadow: 0px 0px 10px 2px  rgba(0, 0, 0, 0.205);
}
  
  .logo img {
    float:left;
	padding-left:50px;
    width:100px;
	height:100px;
    margin-top: -10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 20px;
  }
  
  nav a:hover {
    color: black;
  }
  .google-logo{
    width:20px;
  }

  button {
    align-items: center;
    display: flex;
    padding: 3px;
    justify-content: center;
    width: 130px;
    height: 50px;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 5px;
    border:0px solid white;
  }

  button:hover{
    background-color: black;
    color: white;
  }
  button img {
    flex-shrink: 0;
    margin-right: 10px;
  }

.body{
    display: flex;
    flex-direction: row;
    padding: 100px 0px;
}
.body-content{
    width: 50%;
    padding-left: 50px;
    color:  white;
}
.body-content h1{
    font-size: 75px;
    padding-top: 75px;
    text-align: left;
    padding-bottom: 10px;
}
.body-content p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 15px;
}
.body-image{
    width: 50%;
    padding-left: 150px;
}

.sec{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
}
.middle h1{
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    color: rgb(40, 40, 199);
}

.box{
	width: 400px; height: 400px;
	background-color: #6884df;
	position: relative;
	box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
}
.img{
    height: 400px;
    width: 400px;
}
.box:after, .box:before{
	mix-blend-mode:multiply;
	filter:none;
	z-index: -1;
	content:'';
	width:calc(100% + (50px * 2));
	height:calc(100% + (50px * 2));
	position: absolute;
	display: block;
	animation: border 10s ease-in-out infinite;
	transform:translateX(-50px) translateY(-50px);
}
@keyframes border {
  0%, 100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
            clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
            clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
}
.box:before {
	background-color: #b06ab3;
	  clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}
.box:hover:after{
	animation-delay: -0.1s;
}
.box:hover:before, .box:hover:after {
          animation-duration: 0.1s;
}




.left,.right{
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding:40px;
    justify-content: space-evenly;
}
.left button, .right button{
    width: 347px;
    height: 50px;
    font-size: 25px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }  
.btn-3 {
    background: #4568dc;
  background: linear-gradient(to right, #4568dc, #b06ab3);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(8, 85, 163);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgb(8, 85, 163);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgb(8, 85, 163);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }



  .footer-distributed{
      background: #666;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
.footer-logo img{
    float:left;
    margin-top: -70px;
    height: 270px;
    width: 250px;
}
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #202325;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  lightseagreen;
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #ffffff;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color: #11e5f4;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
